---
import ServicesCard from "./ServicesCard.astro";
import Chip from "../Icons/chip.astro";
import PC from "../Icons/PC.astro";
import Web from "../Icons/Web.astro";
import X from "../Icons/X.astro";

// Definimos los servicios con sus datos
const services = [
  {
    icon: PC,
    title: "Desarrollo Web & Landing Pages",
    description:
      "Tu web no es un flyer digital. Es tu mejor vendedor. Diseño y desarrollo sitios que convierten visitas en ventas. Y sí, se ven increíbles también.",
  },
  {
    icon: Web,
    title: "SEO",
    description:
      "¿De qué sirve tener una buena web si nadie la encuentra? Te ayudo a subir en Google y atraer gente que viene con ganas de comprar.",
  },
  {
    icon: Chip,
    title: "Performance Web",
    description:
      "Una web lenta es una web que espanta. Optimizo la velocidad y el rendimiento para que tu sitio cargue como un rayo y venda como nunca.",
  },
];
---

<section class="bg-txt-primary">
  <div class="py-20 md:pt-10 md:pb-20 md:pl-5 md:flex md:items-center md:gap-4">
    <X size={"hidden md:block size-8 text-text-secondary"} />
    <h1
      class="uppercase font-bold text-xl text-center md:text-2xl md:text-left"
    >
      Desde tu idea hasta la web perfecta:
    </h1>
    <!-- <hr class="hidden md:block w-20 h-1.5 bg-fuchsia-500 mt-3 border-none" /> -->
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
    {
      services.map((service) => (
        <ServicesCard
          icon={service.icon}
          title={service.title}
          description={service.description}
        />
      ))
    }
  </div>
</section>
