<section class="bg-bkg-primary text-txt-primary relative text-center pt-10">
  <h2 class="text-3xl md:text-4xl font-bold text-txt-primary mb-6 leading-snug">
    No necesitás otra web. <br />
    Necesitás una que funcione.
  </h2>

  <p class="text-lg text-gray-300 mb-6">
    Muchos tienen una web. Pocos tienen una que convierta.<br />
    La diferencia no está en el diseño. Está en cómo está pensada.
  </p>

  <ul
    class="text-left text-lg text-text-secondary space-y-4 mx-10 max-w-xl md:mx-auto"
  >
    <li>✔ Tu web va a cargar rápido, incluso en un celu con poca señal.</li>
    <li>
      ✔ Tus textos van a estar hechos para que el cliente entienda por qué
      debería elegirte.
    </li>
    <li>✔ Cada parte del sitio va a tener un propósito claro: convertir.</li>
    <li>✔ Vamos a medir resultados y ajustar lo que haga falta. Sin humo.</li>
  </ul>
</section>
