---
import Form from "./Form.astro";
---

<section class="text-center bg-bkg-primary pt-20">
  <h2
    class="text-3xl px-10 md:text-4xl font-bold text-txt-primary mb-6 leading-snug"
  >
    Ahora te toca a vos. <br />
    O seguís igual, o hacemos que tu web venda de verdad.
  </h2>

  <p class="text-lg px-5 text-gray-300 mb-6 max-w-2xl mx-auto">
    Ya sabés qué puedo hacer por tu negocio. Ahora decidís vos.
  </p>

  <p class="text-lg px-5 text-gray-300 max-w-2xl mx-auto">
    Completá el formulario y contame qué te está frenando. En menos de 24hs te
    muestro cómo lo solucionamos.
  </p>

  <div class="relative flex justify-center mt-10 md:mt-20">
    <Form />
  </div>
</section>
