---
import Form from "./Form.astro";
---

<section class="bg-bkg-primary text-txt-primary relative">
  <div
    class="hidden md:block absolute right-0 top-0 bottom-0 w-1/2 bg-[url(../assets/background.webp)] bg-cover bg-right bg-no-repeat opacity-80"
    style="mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%); -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);"
  >
  </div>

  <div
    class="relative flex flex-col gap-4 text-center p-5 md:pt-40 md:pl-20 md:items-start md:gap-2 md:text-left"
  >
    <h1
      class="text-3xl md:text-3xl font-extrabold text-txt-primary mb-4 leading-tight uppercase"
    >
      Tu web tiene un problema.
      <br />
      Y es hora de arreglarlo.
    </h1>
    <p class="text-xl md:text-lg text-gray-300 mb-4">
      Puede ser rápida, linda, profesional… pero si no convierte, no sirve.
    </p>
    <p class="text-lg md:text-base text-text-secondary font-semibold mb-6">
      Yo me encargo de que tu web deje de ser un adorno.
    </p>
    <p class="text-lg md:text-base text-gray-300">
      Dejame tu email y te muestro qué está fallando, y cómo lo arreglamos.
    </p>
    <p class="text-lg md:text-base text-gray-300">
      Si ya estás seguro de lo que necesitas, <a
        href="https://calendly.com/exequielmrodriguez/meeting-rodriguez-exequiel"
        target="_blank"
        class="font-semibold text-primary hover:text-primary-dark transition-all text-text-secondary underline"
        >agenda una llamada gratuita por aca!</a
      >.
    </p>
  </div>
  <div class="relative flex justify-center mt-10 md:mt-30">
    <Form />
  </div>
</section>
