<section class="bg-bkg-primary text-txt-primary relative">
  <!-- Imagen de fondo con difuminado a la izquierda -->
  <div
    class="hidden md:block absolute right-0 top-0 bottom-0 w-1/2 bg-[url(../assets/background.jpg)] bg-cover bg-right bg-no-repeat opacity-80"
    style="mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%); -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);"
  >
  </div>
  <div
    class="relative flex flex-col gap-4 text-center p-5 md:pt-40 md:pl-20 md:items-start md:gap-2 md:text-left"
  >
    <h1
      class="text-3xl md:text-3xl font-extrabold text-txt-primary mb-4 leading-tight uppercase"
    >
      ¿Tu web está perdiendo ventas?
      <br />
      ¡Es hora de cambiar eso!
    </h1>

    <span class="text-xl md:text-lg text-gray-300 mb-4">
      Si tu web no genera ventas, estás dejando dinero sobre la mesa. Y lo
      sabes.
    </span>
    <span class="text-lg md:text-base text-blue-400 font-semibold mb-6">
      ¡Transformemos tu web en una máquina de ventas! Juntos podemos hacerlo
    </span>
    <span class="text-lg md:text-base text-gray-300">
      Déjame tu email y te voy a mostrar cómo lo vamos a lograr, ¡sin excusas!
    </span>
  </div>
  <div class="relative flex justify-center mt-10 md:mt-30">
    <form
      class="rounded-xs flex items-center gap-2 sm:w-full max-w-md"
      action=""
      method="post"
      id=""
      name=""
    >
      <input
        placeholder="email@gmail.com"
        class="text-neutral-950 bg-txt-primary focus:outline-none p-3 w-52 md:w-72 rounded-l-xl border border-gray-300 hover:border-blue-400 transition-all"
        type="email"
        name=""
        required
      />
      <button
        class="bg-gray-700 p-4 text-txt-primary text-sm font-semibold rounded-r-xl hover:bg-blue-600 focus:outline-none cursor-pointer transition-all"
        type="submit"
        name="subscribe"
        id="mc-embedded-subscribe"
      >
        Contáctame
      </button>
    </form>
  </div>
</section>
